.tableProducts {
  margin-top: 50px;
}

.tableProducts thead {
  color: #00cc99;
}

.tableProducts tbody {
  font-style: italic;
}

.tableProducts td {
  border-color: #00cc99 !important;
}

.navbar {
  background-color: #00cc99 !important;
}

.navbar-brand {
  color: white !important;
  font-weight: bold;
  font-size: 20px;
  font-style: italic;
}

.card {
  margin-top: 50px;
  border-bottom: 3px solid #00cc99 !important;
}

.card-title {
  font-style: italic;
}

.cardButton {
  background-color: white !important;
  color: #00cc99 !important;
  border: 1px solid #00cc99 !important;
  float: right;
}

.card-img-top {
  height: 169px !important;
}
